:host(){
    --dark-blue:#00071c;
    --dark-grey:#181818;
    --light-white:#ececec;
    --light-red:#910024;
    --text-top-margin:50px;
    --text-left-margin:40px;

}

.aviProfilePic{
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    border-color: #3389C2;    
    margin: 10% 10px 10px;
}

h1{
   font-size: 60px;
    font-weight: bold;
    margin-left: var(--text-left-margin);
    margin-top: var(--text-top-margin);
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-top: 1px;
    margin-left: var(--text-left-margin);
    font-size: 20px;
}

.socialMedia{
    margin-top: 10px;
    text-align: center;
}

.social-icon{
    height: 40px;
    width: 40px;
    margin: 16px 16px 0px 0px;
}


/*
.Container{
    background-color: #ffffff;
}


@media (max-width:600px) {
    .Container{
    width:60vw;
    }

    h1{
        font-size: 50px;
        font-weight: bold;
        margin-left: 10px;
        margin-top: var(--text-top-margin);
    }
    
    h2{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;
    }
}*/

