:host(){
    --dark-blue:#00071c;
    --dark-grey:#181818;
    --light-white:#ececec;
    --light-red:#910024;
    --text-top-margin:50px;
    --text-left-margin:40px;

}

.outer_box{
    /*background-color: #00071c;
    color: white;*/
    background-image: url('/resource/backgroungImg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
}

.aviProfilePic{
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    border-color: #3389C2;    
    margin: 10% 10px 10px;
}


.socialMedia{
    margin-top: 10px;
    text-align: center;
}

.social-icon{
    height: 40px;
    width: 40px;
    margin: 16px 16px 0px 0px;
}

.getInTouch{
    font-size: 25px;
    font-weight: bolder;
}


.clocks {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    font-size: 12px;
  }

/*
.Container{
    background-color: #ffffff;
}


@media (max-width:600px) {
    .Container{
    width:60vw;
    }

    h1{
        font-size: 50px;
        font-weight: bold;
        margin-left: 10px;
        margin-top: var(--text-top-margin);
    }
    
    h2{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;
    }
}*/

