div{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 30px;
    text-wrap: wrap;
    max-width: 720px;
}
/*
@media (max-width:600px) {
    div{
        margin-top: 20px;
        margin-left: 40px;
        font-size: 25px;
        text-wrap: wrap;
    }
}*/